
<div class="container" style="margin: 50px auto; margin-top:100px;">
<div class="row">
    <div class="col">
        <p class="text-end"><span>Hola {{usuario}} !</span> <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión<i class="fas fa-sing-out-alt"></i></a></p>
    </div>
</div>
</div>
