
		<!-- Header -->
	<header class="header trans_300">	

	   <!-- menu de navegación -->
				<div class="main_nav_container">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 text-right">
								<div class="logo_container">
									<a href="#">Playeras <span>Shop</span></a>
								</div>
								<nav class="navbar">
									<ul class="navbar_menu">
										<li> <a href="#">Home</a></li>
										<li> <a href="#">Shop</a></li>
										<li> <a href="#">Outlet</a></li>										
										<li> <a href="#">Blog</a></li>
										<li> <a href="/contacto">Contacto</a></li>
									</ul>
									<ul class="navbar_user">
										<li> <a href="#"><i class="fa fa-search" aria-hidden="true" ></i></a></li>
										<li> <a href="#"><i class="fa fa-user" aria-hidden="true" ></i></a></li>
										<li class="checkout">
											<a href="#">
												<li class="fa fa-shopping-cart" aria-hidden="true"></i>
												<span id="checkout" class="checkout-items">2</span>												
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>			
	</header>

		<!-- Slider -->
		 <div class="main_slider" style="background-image: url(images/slider_1.jpg);">
			<div class="container fill_hight">
				<div class="row align-items-center fill_hight">
					<div class="col">
						<div class="main_slider_content">
							<h6>Colección Primavera / Verano 2021</h6>
							<h1>Aprovechá un 50% </h1>
							<div class="red_button shop_now_button"><a href="#">Comprar AHORA!</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		 </div>

		<!-- Banner -->
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="banner_item align-iteam-center" style="background-image: url(images/banner_1.jpg);">
							<div class="banner_categoria">
								<a href="#">Mujer</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="banner_item align-iteam-center" style="background-image: url(images/banner_2.jpg);">
							<div class="banner_categoria">
								<a href="#">Accesorios</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="banner_item align-iteam-center" style="background-image: url(images/banner_3.jpg);">
							<div class="banner_categoria">
								<a href="#">Hombre</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Novedades -->
		 	<div class="new_arrivals">
				 <div class="container">

					 <div class="row">
						<div class="col text-center">
							<div class="section_title new_arrivals_title">
								<h2>Novedades</h2>
							</div>
						</div>
					 </div>
								
					 <div class="row align-items-center">
						<div class="col text-center">
							<div class="new_arrivals_sorting">
								<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
									<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">All</li>
									<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center " data-filter=".mujer">Mujer</li>
									<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center " data-filter=".accesorios">Accesorios</li>
									<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center " data-filter=".hombre">Hombre</li>
								</ul>
							</div>
						</div>
					</div>

					 <div class="row">
						<div class="col">
							<div class="product-grid" data-isotope='{"itemSelector": ".product-item","layoutMode": "fitRows"}'> 
								
								<!-- Inicio de lista de productos 1  -->   
								<div class="product-item hombre">
									<div class="product discount product_filter">
										<div class="product_imagen">
											<img src="images/product_1.png" alt="">
										</div>
										<div class="favorite favorite_left"></div>
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
											<span>% 20</span>
										</div>
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999<span>$ 79000</span></div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>

								<!-- Inicio de lista de productos 2  -->   
								<div class="product-item mujer">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_2.png" alt="">
										</div>
										<div class="favorite"></div>
										<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center">
											<span>Nuevo</span>
										</div>
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999<span>$ 79000</span></div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 3  -->   
								<div class="product-item mujer">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_3.png" alt="">
										</div>
										<div class="favorite"></div>										
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 4  -->   
								<div class="product-item accesorios">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_4.png" alt="">
										</div>
										<div class="favorite favorite_left"></div>
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
											<span>% 20	</span>
										</div>
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 5  -->   
								<div class="product-item hombre mujer">
									<div class="product discount product_filter">
										<div class="product_imagen">
											<img src="images/product_5.png" alt="">
										</div>
										<div class="favorite"></div>
										
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 6  -->   
								<div class="product-item accesorios">
									<div class="product discount product_filter">
										<div class="product_imagen">
											<img src="images/product_6.png" alt="">
										</div>
										<div class="favorite favorite_left"></div>
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
											<span>-% 20</span>
										</div>
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999<span>$ 79000</span></div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 7  -->   
								<div class="product-item mujer">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_7.png" alt="">
										</div>
										<div class="favorite"></div>										
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 8  -->   
								<div class="product-item accesorios">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_8.png" alt="">
										</div>
										<div class="favorite"></div>										
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 9  -->   
								<div class="product-item hombre">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_9.png" alt="">
										</div>
										<div class="favorite favorite_left"></div>
										<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
											<span>% 35</span>
										</div>
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>
								<!-- Inicio de lista de productos 10  -->   
								<div class="product-item hombre">
									<div class="product product_filter">
										<div class="product_imagen">
											<img src="images/product_10.png" alt="">
										</div>
										<div class="favorite"></div>										
										<div class="product_info">
											<h6 class="product_name"><a href="#">Hombre Slim Fit Casual</a></h6>
											<div class="product_price">$ 9999</div>
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="#">COMPRAR AHORA</a></div>
								</div>



							</div>	<!-- Cierre de grilla-->
																	
						</div>
					 </div>
				 </div> <!-- Cierre container -->
			 </div>
 

		<!-- Deal of the week -->
		


		<!-- Benefit -->
		

		<!-- Blogs -->
		

		<!-- Newsletter -->
		

		<!-- Footer -->